In [2]:
import pandas as pd
import geopandas as gpd
import requests
from bs4 import BeautifulSoup as b

In [ ]:
r = requests.get('https://ncov2019.live/')
r.status_code

In [ ]:
soup = b(r.text, 'lxml')
# print(soup.prettify())

In [ ]:
# global_ = soup.find('div', attrs={'id':'container_Global'})
global_ = soup.find('table', attrs={'id': 'sortable_table_global'})
# global_ = soup.find_all('table')
# countries = soup.find_all('div', attrs={'id':'container_Global'})
# print(global_)

In [ ]:
# get the table
# table = global_.table
table_row = global_.find_all('tr')
all_rows = []
for tr in table_row:
    td = tr.find_all('td')
    row = [i.text.replace('\n', ' ').strip() for i in td]
    all_rows.append(row)
df = pd.DataFrame(all_rows, columns=['country', 'confirmed', 'changes1', 'changes1(%)', 'deceased', 
                                     'changes2', 'changes2(%)', 'recovered', 'serious'])
df.head(5)

In [ ]:
pd.isna(df).info()
df.dropna(inplace=True)
df.drop(index=[1], inplace=True)
df.drop(columns=['changes1', 'changes1(%)', 'changes2', 'changes2(%)'], inplace=True)
pd.isna(df)
# df.info()
df.head()

In [ ]:
copy_df = df.copy()

copy_df = df.copy()
copy_df['country'] = copy_df['country'].str.replace('★', '')
copy_df['country'] = copy_df['country'].str.strip()
copy_df['confirmed'] = copy_df['confirmed'].str.replace(',', '')
copy_df['deceased'] = copy_df['deceased'].str.replace(',', '')
copy_df['recovered'] = copy_df['recovered'].str.replace(',', '')
copy_df['serious'] = copy_df['serious'].str.replace(',', '')




copy_df['confirmed'] = copy_df['confirmed'].astype(int)
copy_df['deceased'] = pd.to_numeric(copy_df['deceased'])
copy_df['recovered'] = pd.to_numeric(copy_df['recovered'])
copy_df['serious'] = pd.to_numeric(copy_df['serious'])

In [ ]:
copy_df.info()
copy_df.head()

In [ ]:
# copy_df.filter(like='e', axis=0)
copy_df.isin(['Kenya'])

In [ ]:
# copy_df.plot(figsize=(20, 20))
copy_df.head()

In [3]:
def table():
    r = requests.get('https://ncov2019.live/')
    r.status_code
    
    soup = b(r.text, 'lxml')
    
    global_ = soup.find('table', attrs={'id': 'sortable_table_global'})
    
    table_row = global_.find_all('tr')
    all_rows = []
    for tr in table_row:
        td = tr.find_all('td')
        row = [i.text.replace('\n', ' ').strip() for i in td]
        all_rows.append(row)
        
    df = pd.DataFrame(all_rows, columns=['country', 'confirmed', 'changes1', 'changes1(%)', 'deceased', 
                                     'changes2', 'changes2(%)', 'recovered', 'serious'])
    
    df.dropna(inplace=True)
    df.drop(index=[1], inplace=True)
    df.drop(columns=['changes1', 'changes1(%)', 'changes2', 'changes2(%)'], inplace=True)
    
    copy_df = df.copy()
    copy_df['country'] = copy_df['country'].str.replace('★', '')
    copy_df['country'] = copy_df['country'].str.strip()
    copy_df['confirmed'] = copy_df['confirmed'].str.replace(',', '')
    copy_df['deceased'] = copy_df['deceased'].str.replace(',', '')
    copy_df['recovered'] = copy_df['recovered'].str.replace(',', '')
    copy_df['serious'] = copy_df['serious'].str.replace(',', '')
    
    copy_df['confirmed'] = copy_df['confirmed'].astype(int)
    copy_df['deceased'] = pd.to_numeric(copy_df['deceased'])
    copy_df['recovered'] = pd.to_numeric(copy_df['recovered'])
    copy_df['serious'] = pd.to_numeric(copy_df['serious'])
    
    return copy_df

In [4]:
data = table()
data.head()

         country  confirmed  deceased  recovered  serious
2  United States     215608      5110     7760.0   4396.0
3          Italy     110820     13211    16847.0   4035.0
4          Spain     104118      9387    22647.0   5872.0
5          China      83095      3312    76412.0    466.0
6        Germany      78801       933    22758.0   1892.0

In [5]:
data2 = table()
data2.head()

         country  confirmed  deceased  recovered  serious
2  United States     215608      5110     7760.0   4396.0
3          Italy     110820     13211    16847.0   4035.0
4          Spain     104118      9387    22647.0   5872.0
5          China      83095      3312    76412.0    466.0
6        Germany      78801       933    22758.0   1892.0

In [7]:
data2['confirmed'] - data['confirmed']

2      0
3      0
4      0
5      0
6      0
      ..
194    0
195    0
196    0
197    0
198    0
Name: confirmed, Length: 197, dtype: int64

In [ ]:
from mpl_toolkits.basemap import Basemap
plt.figure(figsize=(8, 8))
m = Basemap(projection='ortho', resolution=None, lat_0=50, lon_0=-100)
m.bluemarble(scale=0.5)